body {
    background-color: darkslategrey;
}

nav > a, nav{
    color: pink;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    font-family: Tahoma;
}

.bottominfo {
    padding-top: 60px;
}

h1, h2 {
    color: goldenrod;
    text-align: center;
    font-family: fantasy;
    padding-top: 10px;
    padding-bottom: 10px;
}

hr{
    height: 5px;
    background-color: lightgoldenrodyellow;
    border-color: lightgoldenrodyellow;
}
.contract{
    color: lightblue;
    font-family: verdana;
}
.info {
    color:lightblue;
    font-family: verdana;
}
.vietnam {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px; 
    height: 400px;
}

figcaption {
    text-align: center;
    font-style: italic;
    color:lightgray;
    font-family: verdana;
    font-size: 15px;
}

.enterprise {
    text-align: center;
    color:lightblue;
    padding-top: 5%;
    font-size: 20px;
}

.valid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.company {
    color: pink;
}

.maininfo{
    text-align: center;
    color:powderblue;
    font-size: 20px;
    font-family: verdana;
}










