body {
    background-color: darkslategrey;
}

nav > a, nav{
    color: pink;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    font-family: Tahoma;
}

.bottominfo {
    padding-top: 100px;
}

h1, h2 {
    color: rgb(252, 198, 62);
    text-align: center;
    font-family: Impact;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2 {
    font-size: 30px;
}

hr{
    height: 5px;
    background-color: lightgoldenrodyellow;
    border-color: lightgoldenrodyellow;
}

.contract{
    color: lightblue;
    font-family: verdana;
}

.info {
    color:lightblue;
    font-family: verdana;
}

.vietnam {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px; 
    height: 400px;
}

figcaption {
    text-align: center;
    font-style: italic;
    color:lightgray;
    font-family: verdana;
    font-size: 15px;
}

.enterprise {
    text-align: center;
    color:lightblue;
    padding-top: 5%;
    font-size: 20px;
}

.valid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.company {
    color: pink;
}

.maininfo{
    text-align: center;
    color:powderblue;
    font-size: 20px;
    font-family: verdana;
}

table {
    margin: auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;;
    font-family: verdana;
    font-size: 15px;
}

th {
    background-color: rgb(247, 193, 106);
}

table tr:nth-child(even) {
    background-color: rgb(124, 197, 184);
    
} 

table tr:nth-child(odd) {
    background-color: lightgoldenrodyellow
} 

td[headers="jobdescription"]{ 
    background-color:  rgb(247, 193, 106);
    font-weight: bold;
    font-family: verdana;
    font-size: 15px;;
}

.tablename{
    text-align: center;
    color: #daf69b;
    font-family: verdana;
}

ol {
    color: lightblue;
    font-size: 18px;
    font-family: verdana;
}

form {
    border-width: 3px;
    border-style: solid;
    background-color: rgb(106, 188, 188);
    font-family: verdana;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    color: rgb(3, 53, 53);;
}

input{
    width: 100%;
    border: 1px;
    border-radius: 4px;
    height: 20px;
    
}

label {
    display: block;
}

.contact, .hearus {
    width: unset;
    margin: 5px;
}

input[type="reset"], input[type="submit"]{
    width: 100%;
    font-family: verdana;
    margin: 1em auto;
    height: 3em;
    display: block;
}

.goodsitetitle, .badsitetitle {
    text-align: center;
    font-size: 25px;
    font-family: verdana;
    border-color: black;
}

.goodsitetitle a, .badsitetitle a {
    color: #800000;
}

.goodsitetitle a:hover, .badsitetitle a:hover {
    color: #ffc76d;
    ;
}

.goodsite, .badsite {
    width: 80%;
    margin: 0 auto;
    background-color: #C3E6CB;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    color: rgb(19, 62, 80);
    padding: 0 5px 5px 5px;
}


