body {
    background-color: darkslategrey;
}

nav > a, nav{
    color: pink;
    text-align: center;
    font-size: 21px;
    padding: 20px;
    font-family: Tahoma;
    padding-bottom: 30px;
}

.nav-link-header:hover, .nav-link-header.active {
    color: rgb(253, 111, 135);
}
.bottominfo {
    padding-top: 100px;
}

h1, h2 {
    color: rgb(252, 198, 62);
    text-align: center;
    font-family: Impact;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2 {
    font-size: 30px;
}

hr{
    height: 5px;
    background-color: lightgoldenrodyellow;
    border-color: lightgoldenrodyellow;
    margin-top: 20px;
}

.hr-footer {
    opacity: 0;
    margin-top: 100px;
}

.contract{
    color: lightblue;
    font-family: verdana;
    font-size: 21px;
}

.info {
    color:lightblue;
    font-size: 21px;
    font-family: verdana;

}

.vietnam {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px; 
    height: 400px;
}

figcaption {
    text-align: center;
    font-style: italic;
    color:lightgray;
    font-family: verdana;
    font-size: 15px;
}

.enterprise {
    text-align: center;
    color:lightblue;
    padding-top: 5%;
    font-size: 20px;
}

.valid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.company {
    color: pink;
}

.maininfo{
    text-align: center;
    color:powderblue;
    font-size: 20px;
    font-family: verdana;
}

table {
    margin: auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;;
    font-family: verdana;
    font-size: 15px;
}

th {
    background-color: rgb(247, 193, 106);
}

table tr:nth-child(even) {
    background-color: rgb(124, 197, 184);
    
} 

table tr:nth-child(odd) {
    background-color: lightgoldenrodyellow
} 

td[headers="jobdescription"]{ 
    background-color:  rgb(247, 193, 106);
    font-weight: bold;
    font-family: verdana;
    font-size: 15px;;
}

.tablename{
    text-align: center;
    color: #daf69b;
    font-family: verdana;
}

ol {
    color: lightblue;
    font-size: 18px;
    font-family: verdana;
}


#form-info {
    border-width: 3px;
    border-style: solid;
    background-color: rgb(119, 215, 215);
    font-family: verdana;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    color: rgb(3, 53, 53);;
}

#name-info, #phone-info, #email-info{
    width: 100%;
    border: 1px;
    border-radius: 4px;
    height: 30px;
}

#name-formlabel, #phone-formlabel, #email-formlabel {
    margin-bottom: 15px;
    margin-top: 5px;
}

label {
    display: block;
}

.contact, .hearus {
    width: unset;
    margin: 5px;
}

#form-submit, #form-reset{
    width: 100%;
    font-family: verdana;
    margin: 1em auto;
    height: 3em;
    display: block;
    cursor: pointer;
}

.goodsitetitle, .badsitetitle {
    text-align: center;
    font-size: 25px;
    font-family: verdana;
    border-color: black;
}

.goodsitetitle a, .badsitetitle a {
    color: #800000;
}

.goodsite, .badsite {
    width: 80%;
    margin: 0 auto;
    background-color: #C3E6CB;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    color: rgb(19, 62, 80);
    padding: 0 5px 5px 5px;
}

#name-label, #mood-label, #number-label, #interactUser {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
    font-family: Tahoma;
    color:#a131bd;
    font-weight: bold;
}

#name, #mood, #polyNumber{
    width: 99%; 
    padding: 8px;
    margin-bottom: 5px;
}

#interactUser {
    text-align: center;
    background-color: rgb(170, 246, 246);
    margin-bottom: 20px;
    padding: 10px;
    color:#a131bd;
}

#time {
    font-family: "Oswald", sans-serif;
    text-align: center;
    border: 5px solid black;
    padding: 20px 5px 20px 5px;
    border-style: inset;
    background-color: rgb(170, 246, 246);
    color: rgba(166, 34, 168, 0.927);
    font-size: 19px;
    font-weight: bold;
}

#function-box {
    background-color: rgb(170, 246, 246)
}

#firstscriptbutton {
    margin-top: 5px;
    display: flex;
}

#function {
    background-color: #38803a;
    margin: 5px;  
    color: white; 
    padding: 10px 10px; 
    cursor: pointer; 
    border: none; 
    border-radius: 15px; 
}

.slideshow-container {
    position: relative;
    margin: auto;
    max-width: 700px;
}

.slides {
   position: relative;
}

.slidedescription {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 97.3%;
    background-color: rgba(70, 65, 65, 0.887);
    color: rgb(211, 175, 223);
    text-align: center;
    padding: 10px;
    font-size: 20px;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    width: 100%;
    height: auto;
}

.slidenumber {
    position: absolute;
    top: 0px;
    left: 00px;
    font-size: 16px;
    color: rgb(211, 175, 223);
    background-color: rgba(70, 65, 65, 0.887);
    padding: 10px;
    padding-left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 17px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background-color: black;
    border-radius: 0 5px 5px 0;
}

.next {
    right: 0;
    border-radius: 5px 0 0 5px;
}

.dot-container {
    text-align: center;
    margin-top: 20px;
}

.dot {
    height: 50px;
    width: 50px;
    margin: 9px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot:hover {
  transform: scale(1.7);
}

/* byo-intro.html css style*/

#byo-form {
    border-width: 3px;
    border-style: solid;
    background-color: rgb(141, 236, 236);
    font-family: verdana;
    width: 45%;
    margin: 0 auto;
    padding: 20px;
    color: rgb(3, 53, 53);;
}


#select-courses {
    width: 300px;
    padding: 20px;
    display: flex;
    border: 2px solid black;
}

#text-course {
    width: 400px;
    display: flex;
    margin-bottom: 10px;
    height: 25px;
}

#course-name{
    margin-top: 10px;
}

#funny-thing, #anything-info{
    margin-top: 10px;
    margin-bottom: 5px;
}

@media screen and (max-width: 900px) {
    #funny-thing-text, #anything-text, #text-course, #select-courses{
        width: 100%; 
    }
}

#checkbox-div {
    border-top: 3px solid rgba(0, 137, 140, 0.998);
    border-bottom: 3px solid rgba(0, 137, 140, 0.998);
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    align-items: left;
    
}

#checkmark {
    width: auto;
    margin-right: 40px;
    cursor: pointer;
}

#checkmark-sentence {
    font-size: 15px;
    color: rgb(201, 119, 25);
    font-weight: bold;
}

#submit-button, #reset-button{
    width: 100%;
    font-family: verdana;
    margin: 1em auto;
    height: 3em;
    display: block;
    cursor: pointer;
}

.input-byo-class{
    width: 100%;
    border:1px;
    border-radius: 4px;
    height: 35px;
}

.name-byolabel {
    margin-bottom: 8px;
    padding-top: 10px;
    font-weight: bold;
    font-family: "Tahoma";
    font-size: 18px;
    color: #056a3c;
}

#image-file {
    font-size: 15px;
    font-weight: bold;
}

.select-options {
    font-size: 15px;
    background-color: white;
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

/* calculator_try.html style*/
.calculator-content {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-grow: 1; 
    padding: 20px;
}

.calculator-container {
    border: 5px solid rgb(158, 205, 19);
    width: 500px;
    height: 700px;
    
}

.display-number-container {
    border: 7px solid rgb(154, 148, 148);
    background-color: lightgray;
    width: auto;
    height: 150px;
}

.display-content {
    border: 2px solid black;
    margin: 10px;
    width: 460px;
    justify-content: center;
    display: flex;
    height: 130px;
    background-color: rgb(235, 227, 227);
}

#display {
    font-size: 60px;
    text-align: left;
    justify-content: center;
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: #dfe3e1;
    max-width: 460px;
    width: 460px;
    overflow: hidden;
    font-family:Verdana, Geneva, Tahoma;
}

.topkey-sections {
    width: auto;
    max-width: 500px;
    display: flex;
    height: 150px;
    max-height: 107px;
    border: 7px solid lightgoldenrodyellow;
    border-bottom: none;
    border-top: none;
}

.calculator-key-button{
    border: .5px solid black;
    color: green;
    font-size: 18px;  
    width: 160px;
    height: auto;
    cursor: pointer;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma;
}

.calculator-key-zero-button {
    width: 490px;
    color: green;
    font-family:Verdana, Geneva, Tahoma;
    font-weight: bold;
}

.calculator-key-button:hover {
    background-color: rgb(197, 195, 195);
    transition: 0.7s;
  }

/*calculator_fcc style*/
.cal_keys {
    display: grid;
}

/*emmet.html style*/
#emmet-h2 {
    border: 9px dotted lightgoldenrodyellow;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 20px auto;
    width: 20%;
    margin-bottom: 50px;
    font-size: 40px;
    position: relative;
}

.emmet-examples{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    color: lightblue;
    text-align: left;
    font-weight: bold;
    font-family: Helvetica;
    width: 700px;
    margin: none;
}

#emmet {
    font-size: 27px;
    margin-bottom: 80px;
    text-decoration: underline;
}

.emmetInfo {
    text-align: left;
    font-size: 23px;
    color: rgb(240, 243, 96);
    margin-top: -45px;
    left: 0%;
    transform: translate(29%, 0%);
    position: relative;
}

.emmetInfo ul {
    list-style-position: inside;
}

.emmet-div {
    padding-bottom: 10px;
    color: rgb(240, 243, 96);
    font-size: 23px;
    left: 0%;
    transform: translate(29%, 0%);
    position: relative;
}

.emmet-table {
    width: 70%;
    border-collapse: collapse;
    height: 200%;
}
