body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: pink;
    color: white;
    padding: 40px;
    text-align: center;
    font-size: 25px;
    font-family: impact;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-info {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

li {
    margin-right: 15px;
}

a {
    color: #fff;
    text-decoration: none;
}

h1 {
    font-size: 20px;
    text-align: left;
}

.nav-info a {
    text-decoration: none;
    color: white;
    position: relative;
}

.nav-info a:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    bottom: 0;
    left: 0;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.nails {
    width: auto;
    height: auto;
    animation: fadeIn 2s ease-in-out;
}

h1 {
    margin-left: -27px;
    font-size: 30px;
}

h2 {
    font-size: 40px;
    text-align: center;
}

h4 {
    text-align: center;
    color:rgb(21, 95, 122);
    font-size: 20px;
}

.valid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.company {
    color: pink;
}

main {
    flex: 1;
}

footer {
    background-color: pink;
    text-align: center;
    position: relative;

}

.div-container {
    justify-content: center;
    text-align: center;
}

.about-us-name {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

.client-background {
    position: relative;
    margin-left: 20%;
    width: 60%;
}

.background-info {
    font-weight: bold;
    font-size: 25px;
}

.contact-container {
    max-width: 600px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 90px;
    font-family:Verdana, Geneva, Tahoma;
  }

  .contact-section {
    margin-bottom: 20px;
  }

  .contact-label {
    font-weight: bold;
  }

  .contact-name {
    text-align: center;
    font-size: 27px;
  }


