<footer>
    <hr class="hr-footer">
    <hr>
    <nav>
        <a href = "https://webpages.charlotte.edu/dngo5/">UNCC Webpage</a>
        ||
        <a href = "https://github.com/dae1313">GitHub</a>
        ||
        <a href = "https://dae1313.github.io/">GitHub.io</a>
        ||
        <a href = "https://dae1313.github.io/itis3135/">ITIS3135.io</a>
        ||
        <a href = "https://www.freecodecamp.org/dae1313">freeCodeCamp</a>
        ||
        <a href = "https://www.codecademy.com/profiles/dae13">Codecademy</a>
        ||
        <a href = "https://www.linkedin.com/in/dalena-ngo-25ab62175/">Linkedin</a>
    </nav>
    <hr>
    <p class="enterprise">Page designed by <a href = "thengoenterprises.com/thengoenterprises.html" class="company">The Ngo Enterprises</a>&copy; 2023 </p>
    <div class="valid">
        <a href="https://validator.w3.org/check?uri=referer" >
        <img style="border:0;width:88px;height:31px" src="https://upload.wikimedia.org/wikipedia/commons/b/bb/W3C_HTML5_certified.png" alt="Valid HTML!" >
       </a>           
        <a href="https://jigsaw.w3.org/css-validator/check/referer" >
        <img style="border:0;width:88px;height:31px"
        src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid
        CSS!">
        </a>       
    </div>
    <script>
        document.getElementById("valid-html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
        document.getElementById("valid-css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
    </script>       
</footer>