<header>
    <h1>Dalena's Daffy Nightowl &#10048; ITIS 3135</h1>
    <hr>
    <nav>
        <a href = "./" class="nav-link-header">Home</a>
        ||
        <a href = "introduction.html" class="nav-link-header">Introduction</a>
        ||
        <a href = "contract.html" class="nav-link-header">Contract</a>
        ||
        <a href = "tables.html" class="nav-link-header">Tables</a>
        ||
        <a href = "forms.html"class="nav-link-header">Forms</a>
        ||
        <a href = "website_evaluations.html" class="nav-link-header">Website Evaluations</a>
        ||
        <a href = "slideshow.html" class="nav-link-header">Slideshow</a>
        ||
        <a href = "firstscripts.html" class="nav-link-header">Firstscripts</a>
        ||
        <a href = "byo_intro.html" class="nav-link-header">Byo Intro</a>
    </nav>
    <nav>
        <a href = "stuff/cR%26p%20We%25b1.htm" class="nav-link-header">Crappy Webpage</a>
        ||
        <a href="interactiveDrawing.html" class="nav-link-header">Interactive Drawing</a>
        ||
        <a href="calculator_try.html" class="nav-link-header">Calculator</a>
        ||
        <a href="calculator_fcc.html" class="nav-link-header">Calculator FCC</a>
        ||
        <a href="emmet.html" class="nav-link-header">Emmet</a>
        ||
        <a href = "hobby/index.html" class="nav-link-header">Hobby Site</a>
    </nav>
    <hr>
</header>